
.mdlLayout{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    
}

.layoutContent{
    padding: 24px;
    flex: none;  
    background-color: transparent;
}

.contentGrid {
    max-width: 960px;
    background-color: transparent;
}

.mdlButton{
    width: 90%;
}